@model AddRecipeToDietViewModel

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="AddRecipeToDiet" method="post">
    <input type="hidden" asp-for="RecipeId" />
    <div class="form-group">
        <label for="SelectedDietId">Select Diet</label>
        <select asp-for="SelectedDietId" asp-items="Model.Diets" class="form-control"></select>
    </div>
    <form asp-controller="Diet" asp-action="DietDetails" method="post" style="display:inline;">
        <input type="hidden" name="recipeId" value="@Model.RecipeId" />
        <input type="hidden" name="dietId" value="Model.SelectedDietId" />
        <button type="submit" class="btn btn-success flex-fill">Add to Diet</button>
    </form>
</form>
