/*my diets*/
:root {
    --card-height: 514px;
}
.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.placeholder {
    height: 200px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-diet-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #f0ad4e;
    border: 2px dashed #f0ad4e;
    transition: all 0.3s ease;
}

.add-diet-button h3 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.add-diet-button i {
    font-size: 5rem;
}

.add-diet-button:hover {
    background-color: #f0ad4e;
    color: #fff;
    border-color: #f0ad4e;
    cursor: pointer;
}

.add-diet-button:focus {
    background-color: #ffd966;
    color: #fff;
    outline: none;
}

#add-btn-container {
    border: none;
}

.card.h-100 {
    height: var(--card-height) !important; /* Quick solution, fix by setting dynamically offsetHeight*/
}
