:root {
    --primary-color: #007bff;
    --primary-color-dark: #0056b3;
}

.modal-dialog-centered {
    margin-top: 15% !important;
    display: flex;
    align-items: flex-start;
    min-height: calc(100% - 1rem);
}

.modal-header .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat !important;
}

.card-btn.create {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease;
}

    .card-btn.create:hover {
        background-color: var(--primary-color-dark);
        border-color: var(--primary-color-dark);
        color: white;
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

#actionBtn {
    font-weight: 600;
    font-size: 1rem;
    height: 40px;
    width: 150px;
}
