@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers

<input type="hidden" id="loggedUserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
<div id="workoutFormContainer" class="react-container">
	<div id="root"></div>
</div>



@section Styles {
	<link rel="stylesheet" href="~/react-build/assets/index-Cp9-Q0bF.css" />
}

@section Scripts {
	<script src="~/react-build/assets/index-Bq28knQk.js" asp-append-version="true"></script>
}