<div class="react-container">
	<div id="root"></div>
</div>



@section Styles {
	<link rel="stylesheet" href="~/css/workout.css" />
	<link rel="stylesheet" href="~/react-build/assets/index-BmTbazre.css" />
}

@section Scripts {
	<script src="~/react-build/assets/index-CKUmpMaC.js" asp-append-version="true"></script>
} 