@using FitnessApp.ViewModels.Workout
@model IEnumerable<MyWorkoutsView>

@{
    ViewData["Title"] = "My Workouts";
}

<div class="container mt-4">
    <div class="jumbotron text-center bg-primary text-white p-4 rounded">
        <h1 class="display-4">Get Fit with FitJourney</h1>
        <p class="lead">Your journey to a better you starts here. Explore our workout routines and track your progress.</p>
        <a asp-controller="Workout" asp-action="AddWorkout" class="btn btn-light btn-lg">Start a New Workout</a>
    </div>
</div>

<h1>My Workouts</h1>

@if (!Model.Any())
{
    <p>You have no workouts.</p>
}
else
{
    <ul class="list-group">
        @foreach (var workout in Model)
        {
            <li class="list-group-item">
                <h2>@workout.Name</h2>

                @if (!workout.Exercises.Any())
                {
                    <p>No exercises in this workout.</p>
                }
                else
                {
                    <ul class="list-unstyled">
                        @foreach (var exercise in workout.Exercises)
                        {
                            <li>
                                <strong>Exercise Name:</strong> @exercise.Name
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}