@using FitnessApp.ViewModels.Workout
@model IEnumerable<MyWorkoutsView>

@{
    ViewData["Title"] = "My Workouts";
}

<div class="container mt-4">
    <div class="jumbotron text-center bg-primary text-white p-4 rounded">
        <h1 class="display-4">Get Fit with FitJourney</h1>
        <p class="lead">Your journey to a better you starts here. Explore our workout routines and track your progress.</p>
        <a asp-controller="Workout" asp-action="AddToMyWorkouts" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#startWorkoutModal">Start a New Workout</a>
    </div>
</div>

<h1>My Workouts</h1>

@if (!Model.Any())
{
    <p>You have no workouts.</p>
}
else
{
    <ul class="list-group">
        @foreach (var workout in Model)
        {
            <li class="list-group-item">
                <h2>@workout.Name</h2>

                @if (!workout.Exercises.Any())
                {
                    <p>No exercises in this workout.</p>
                }
                else
                {
                    <ul class="list-unstyled">
                        @foreach (var exercise in workout.Exercises)
                        {
                            <li>
                                <strong>Exercise Name:</strong> @exercise.Name
                            </li>
                        }
                    </ul>
                }
                <form asp-controller="Workout" asp-action="RemoveFromMyWorkouts" method="post" style="display:inline;">
                    <input type="hidden" name="workoutId" value="@workout.Id" />
                    <button type="submit" class="btn btn-danger flex-fill">Remove Workout</button>
                </form>
            </li>
        }
    </ul>
}

<div class="modal fade" id="startWorkoutModal" tabindex="-1" aria-labelledby="startWorkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="startWorkoutModalLabel">Choose Workout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please select an option to add a workout:</p>
                <div class="d-flex justify-content-around">
                    <a asp-action="AddToMyWorkouts" asp-controller="Workout" class="btn btn-primary">Choose Existing Workout</a>
                    <a asp-action="Create" asp-controller="Workout" class="btn btn-success">Create Custom Workout</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>