@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/error.css">
</head>

<body>
    <div id="internal-error" class="container d-flex">
        <div class="image-container">
            <img src="~/images/unhealthy-dude.jpg" alt="Error 500">
        </div>

        <div class="text-container d-flex flex-column gap-2">
            <h2>Oops...</h2>
            <p>Internal Server Error</p>
        </div>

        <div class="number-bg">500</div>
    </div>
</body>

</html>

